@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
/* CSS Variable */

:root {
  --primary-color: rgb(0, 204, 255);
  --hero-heading-color: black;
  --off-white: #f3f4f6;
}

/* typography */
body {
  font-family: "Lato", sans-serif;
  margin: 0px;
}

hr {
  margin: 2rem 0rem;
}

/* container */
.container {
  padding-left: 1rem;
  padding-right: 1rem;
}

.container-center {
  max-width: 600px;
  margin: auto;
}

small {
  width: 100%;
  margin: auto;
  text-align: center;
}

/* links */

.link {
  padding: 0.5rem 1rem;
  text-decoration: none;
}

.primary-link {
  background-color: var(--primary-color);
  color: black;
  margin-top: 0.5rem;
  border-radius: 1rem;
}

.secondary-link {
  border: 1px solid var(--primary-color);
  border-radius: 1rem;
  color: black;
}

.link-wrapper {
  text-align: center;
}

/* lists */

.list-non-bullet {
  list-style: none;
}

.list-item-inline {
  display: inline;
  padding: 0rem 0.5rem;
}

/* nav */

.navigation {
  background-color: var(--primary-color);
  color: black;
  padding: 1rem;
  border-bottom-left-radius: 2rem;
  width: 80%;
  margin: auto;
}

.navigation .nav-brand {
  font-weight: bold;
  font-size: 1.1rem;
}

.navigation .link {
  color: black;
}

.navigation .list-non-bullet {
  text-align: right;
}

.navigation .link-active {
  font-weight: bold;
}

/* header */

.hero {
  padding: 2rem;
}

.hero .hero-image {
  max-width: 350px;
  margin: auto;
  display: block;
}

.hero .hero-heading {
  text-align: center;
  color: var(--hero-heading-color);
}

/* section */

.section {
  padding: 2rem;
  width: 60%;
  margin: auto;
  border-radius: 1rem;
}

.section h1 {
  text-align: center;
}

.section small {
  display: block;
  margin: auto;
}

.ow {
  background-color: var(--off-white);
}

.intro span {
  font-weight: bold;
}

/* footer */

.footer {
  background-color: var(--primary-color);
  text-align: center;
  padding: 2rem;
  border-top-right-radius: 1.5rem;
  padding-inline-start: 0px;
  width: 80%;
  margin: auto;
  margin-top: 2rem;
}

.footer .link {
  color: black;
}

.footer .footer-heading {
  font-weight: bold;
  font-size: large;
}
